.recipeslist {
  display: flex;
  justify-content: center;
}

.recipecard {
  height: 500px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgreen);
  box-shadow: 5px 5px 10px var(--greengray);
}
