.list {
  display: flex;
  justify-content: center;
}

.card {
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgreen);
  box-shadow: 5px 5px 10px var(--greengray);
  margin: 10px;
  padding: 10px;
}
