header {
  text-align: center;
  background-color: var(--ivory);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  background-color: var(--ivory);
  padding: 2rem;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
}

header a {
  color: var(--darkest);
  text-decoration: none;
}

header a:hover {
  color: var(--middlegrey);
}
